@{
    ViewData["Title"] = "Projects";
}
<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>
<div class="text-left">
    <ul>
        <li>Meeting Scheduling Software with ASP.NET</li>
        <li>Black Jack Playing Game in Java</li>
        <li>User Account Administrator of AASHTOWare</li>
        <li>Create Reports using ActiveReport, C#, SQL, and SQL Developer against an Oracle database.</li>
    </ul>
</div>